<div ng-click="clickMessage()">
        <h4>All Cities</h4>

        <div class="row">

                <div class="col-md-4">
                        <div ng-repeat="city in allCities" class="some-list">
                                <span class="city-row" ng-class="{'selected-item': city.name == selectedCityName}" ng-click="getCityDetails(city)" ng-bind="city.name"></span>
                        </div>
                </div>

                <div class="col-md-8">
                        <h4 ng-bind="selectedCityName"></h4>

                        <p>Factories:</p>
                        <div ng-repeat="factory in factories">
                                <span>{{factory.commodity.quantity}} of {{factory.commodity.name}} at {{factory.commodity.defaultPrice}}</span>
                        </div>
                        <hr>
                        <p>Commodities</p>
                        <div ng-repeat="commodity in commodities"><span>{{commodity.quantity}} {{commodity.name}}</span>
                        </div>


                </div>

        </div>
</div>