<div class="row">
    <div class="col-md-3">
        <p>Player ships</p>

        <ul ng-repeat="ship in ships">
            <li ng-class="{'selected-item':selectedShip == ship}" ng-click="getShipDetails(ship)">{{ship.name}}</li>
        </ul>

    </div>

    <div class="col-md-5" ng-show="selectedShip != null">
        <h4 ng-bind="selectedShip.name"></h4>
        Capacity: <span ng-bind="selectedShip.capacity"></span> <br>
        Max Speed: <span ng-bind="selectedShip.maxSpeed"></span> <br>
        X coordinate: <span ng-bind="selectedShip.position.x"></span> <br>
        Y coordinate: <span ng-bind="selectedShip.position.y"></span> <br>

        <div ng-show="selectedShip.cargos.length() > 0">
            <p>Cargo on board</p>
        </div>

        <div>
            <p ng-show="selectedShip.destinationCity.name">Destination is {{selectedShip.destinationCity.name}}</p>
        </div>
        <div>
            <p ng-show="!selectedShip.destinationCity.name">No destination</p>
        </div>
        <div>
            <p ng-show="selectedShip.currentCity">Arrived at <span ng-bind="selectedShip.currentCity.name"></span></p>
        </div>

    </div>

    <div class="col-md-4" ng-show="selectedShip">
        <div>
            <button class="btn btn-default small-margin"
                    ng-click="showDestinationsModal()"
                    ng-audio="/sounds/click-sec.mp3">Set destination</button>
        </div>
        <div>
            <button ng-show="selectedShip.currentCity"
                    class="btn btn-primary small-margin"
                    ng-click="gotoCargoOperations()"
                    ng-audio="/sounds/click-sec.mp3" >Cargo Operations</button>
        </div>
    </div>

</div>

