<div class="row">
    <div class="col-md-6">

        <centered-table class="fraction-modal">
            <centered-table-row>
                <centered-table-cell>
                    <div id="volume-indicator">
                        {{ratio}}%
                    </div>
                    <div id="volume-change">
                        <i class="fa fa-plus-square" aria-hidden="true" ng-click="increaseRatio()"></i>
                        <i class="fa fa-minus-square" aria-hidden="true" ng-click="decreaseRatio()"></i>
                    </div>
                </centered-table-cell>
            </centered-table-row>
        </centered-table>
    </div>

    <div class="col-md-6">

        <centered-table>
            <centered-table-row>
                <centered-table-cell>
                    <div style="font-size: 24px">
                        {{necessaryVolume}} <span style="font-size: small">Vol</span> <br>
                        {{necessaryMoney}} <span style="font-size: small">Price</span> <br>
                    </div>

                    <div class="to-right more-space-buttons make-button fraction-modal">Buy</div>
                    <div class="to-right more-space-buttons make-button fraction-modal">Cancel</div>
                </centered-table-cell>
            </centered-table-row>
        </centered-table>


    </div>
</div>