<div class="row">
    <div class="col-md-6">

        <centered-table class="fraction-modal">
            <centered-table-row>
                <centered-table-cell>
                    <div id="volume-indicator">
                        {{ratio}}%
                    </div>
                    <div id="volume-change">
                        <i class="fa fa-plus-square" aria-hidden="true" ng-click="increaseRatio()"></i>
                        <i class="fa fa-minus-square" aria-hidden="true" ng-click="decreaseRatio()"></i>
                    </div>
                </centered-table-cell>
            </centered-table-row>
        </centered-table>
    </div>

    <div class="col-md-6">

        <centered-table ng-show="commodity">
            <centered-table-row>
                <centered-table-cell>
                    <div style="font-size: 24px">
                        <span ng-class="{'alert': volumeExceeded}">{{necessaryVolume}} <span style="font-size: small">Vol</span></span> <br>
                        <span ng-class="{'alert': priceExceeded}">{{necessaryMoney}} <span style="font-size: small">Price</span></span> <br>
                    </div>

                    <div class="to-right more-space-buttons make-button fraction-modal" ng-click="buy()">Buy</div>
                    <div class="to-right more-space-buttons make-button fraction-modal" ng-click="cancel()">Cancel</div>
                </centered-table-cell>
            </centered-table-row>
        </centered-table>

        <centered-table ng-show="!commodity">
            <centered-table-row>
                <centered-table-cell>
                    <div style="font-size: 24px">
                        No commodity<br>
                        Error
                    </div>

                </centered-table-cell>
            </centered-table-row>
        </centered-table>


    </div>
</div>