<div class="row">
    <div class="col-md-12">

        <p>Player's money: <span ng-bind="money"></span></p>


        <p>Player's Ships</p>
        <ul class="list-group">
            <li ng-repeat="ship in ships" class="list-group-item" >
                {{ship.name}}
            </li>
        </ul>

        <hr>

        <p>Available ships:</p>
        <ul class="list-group">
            <li ng-repeat="ship in availableShips" class="list-group-item" ng-click="selectShip(ship)" ng-class="{'selected': ship == selectedShip}">
                {{ship.name}} Cap: {{ship.capacity}} Price: {{ship.price}}
            </li>
        </ul>


        <button class="btn btn-default" ng-click="buySelectedShip()">Buy</button>

    </div>

</div>