<div class="row">
    <div class="col-sm-12">

        <div id="days">
            Days: <span ng-bind="dayNumber"></span>
        </div>

        <div id="control-buttons" class="row">
            <div class="col-sm-6 time-control-button">
                <i class="fa fa-play" aria-hidden="true" ng-click="play()"></i>
            </div>

            <div class="col-sm-6 time-control-button">
                <i class="fa fa-pause" aria-hidden="true" ng-click="stop()"></i>
            </div>
        </div>

    </div>

</div>