<div id="cargoOperationsView2" class="">
    <div class="container">
        <div class="row">

            <!--Ship part-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-image content-card-special">
                        <div ng-show="ship.cargos.length > 0">
                            <p>Cargo on board</p>

                            <div>
                                <!--Aici sa fac lista de commodities available-->
                                <div ng-repeat="cargo in ship.cargos">
                                    <input type="checkbox"
                                           ng-click="checkCargo(cargo, $index, $value)"
                                           ng-model="cargo.selected"
                                           ng-true-value="'YES'"
                                           ng-false-value="'NO'"/>{{cargo.commodity.quantity}} of {{cargo.commodity.name}} for {{cargo.commodity.currentPrice}}<br>
                                </div>


                            </div>
                        </div>

                        <div ng-show="!ship.cargos || ship.cargos.length == 0">
                            <p>There is no cargo on board</p>
                        </div>
                        <span class="card-title ship">The Ship: <strong>{{ship.name}}</strong></span>
                        <span class="card-subtitle">Remaining volume: {{ship.remainingSpace}} <br>
                            <div ng-show="playerMoney">Money: {{playerMoney}}</div>
                            <div ng-show="!playerMoney">No money</div>
                        </span>
                    </div>

                    <div class="card-content">
                        <p>This is your fucking ship. Go and make money</p>
                    </div>

                    <div class="card-action">
                        <a ng-click="sellToCity()">Sell</a>
                        <!--<a href="#" target="new_blank">Link</a>-->
                        <!--<a href="#" target="new_blank">Link</a>-->
                        <!--<a href="#" target="new_blank">Link</a>-->
                        <a ui-sref="map" >Map</a>
                    </div>
                </div>
            </div>


            <!--City part-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-image  content-card-special">
                        <div ng-show="city.commodities.length > 0">
                            <p>Commodities available:</p>


                            <div ng-repeat="commodity in city.commodities">

                                <input type="checkbox"
                                       ng-click="checkCommodity(commodity, $index, $value)"
                                       ng-model="commodity.selected"
                                       ng-true-value="'YES'"
                                       ng-false-value="'NO'"/>{{commodity.quantity}} of {{commodity.name}} for {{commodity.currentPrice}}<br>
                            </div>
                        </div>

                        <div ng-show="!city.commodities || city.commodities.length == 0">
                            There is nothing to buy here
                        </div>


                        <span class="card-title city">The city: <strong>{{city.name}}</strong></span>
                        <span class="card-subtitle">
                            <div ng-show="requiredMoney && requiredMoney > 0">Required money: {{requiredMoney}}</div>
                        </span>
                    </div>

                    <div class="card-content">
                        <p>Buy commodities to sell in other cities</p>
                    </div>

                    <div class="card-action">
                        <a ng-click="buyCommodity()">Buy</a>
                        <!--<a href="#" target="new_blank">Link</a>-->
                        <!--<a href="#" target="new_blank">Link</a>-->
                        <!--<a href="#" target="new_blank">Link</a>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
