<div id="cityView">

    <div class="container">

        <div class="row">
            <div class="col-lg-3">

                <div class="cities-area" ng-show="allCities && allCities.length > 0">
                    <cities>
                        <city ng-repeat="city in allCities" ng-click="showCity(city)">{{city.name}}</city>
                    </cities>
                </div>

                <div ng-show="!allCities || allCities.length <= 0">
                    <h3 class="alert">There are no cities loaded</h3>
                </div>

            </div>

            <div class="col-lg-8" ng-show="selectedCity">

                <div class="btn-group-vertical" role="group">

                    <h3><span ng-bind="selectedCity.name"></span></h3>

                    <button type="button" class="btn btn-default"
                            ng-click="detailsVisible = !detailsVisible; updateOptions()">Details
                    </button>

                    <div ng-show="detailsVisible" class="well well-lg">

                        <div class="to-left">Population: <span ng-bind="selectedCity.population"></span></div> <br>
                        <div class="to-left">Latitude: <span ng-bind="selectedCity.position.y"></span></div> <br>
                        <div class="to-left">Longitude: <span ng-bind="selectedCity.position.x"></span></div> <br>
                    </div>

                    <button type="button" class="btn btn-default"
                            ng-click="factoriesVisible = !factoriesVisible; updateOptions()">Factories
                    </button>

                    <div ng-show="factoriesVisible" class="well well-lg">
                        <div ng-repeat="factory in selectedCity.factories">
                            <div class="to-left"> <span ng-bind="factory.commodity.name"></span>: production <span ng-bind="factory.productionRate"></span></div> <br>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default"
                            ng-click="commoditiesVisible = !commoditiesVisible; updateOptions()">Commodities
                    </button>

                    <div ng-show="commoditiesVisible" class="well well-lg">

                        <div ng-repeat="commodity in selectedCity.commodities">
                            <div class="to-left"> <span ng-bind="commodity.name"></span>  <span ng-bind="commodity.quantity"></span></div> <br>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <right-menu></right-menu>

    </div>
</div>