<div id="fullMapView">

    <div class="row">


        <!--Left panel-->
        <div class="col-lg-2">
            <button ng-class="{'button-active': showPlayerDetailsModal}" class="left-panel-button btn" ng-click="showPlayerDetails()">See player details</button>
            <button ng-class="{'button-active': buyShipPanelIsVisible}" class="left-panel-button btn" ng-click="showBuyShipPanel()">Buy Ship</button>
            <button class="left-panel-button btn">Construct Factory</button>
            <button ng-class="{'button-active': allCitiesPanelIsVisible}" class="left-panel-button btn" ng-click="showAllCitiesPanel()"> All Cities</button>
            <button class="left-panel-button btn" ui-sref="home">Main Menu</button>

        </div>

        <!--Center panel-->
        <div class="col-lg-8">

            <div id=mainView ng-controller="mainViewController">
                <svg id=mainSvgArea></svg>
            </div>

        </div>


        <!--Right panel-->
        <div class="col-lg-2">
            <time-control></time-control>
        </div>

    </div>
    <message class="message-screen"></message>

    <player-details class="custom-modal" ng-hide="!showPlayerDetailsModal"></player-details>
    <ship-details class="custom-modal" ng-hide="!showShipDetailsModal" point="shipClicked"></ship-details>
    <city-details class="custom-modal" ng-hide="!showCityDetailsModal" point="cityClicked"></city-details>
    <all-cities class="custom-modal" ng-hide="!allCitiesPanelIsVisible"></all-cities>
    <buy-ship class="custom-modal" ng-show="buyShipPanelIsVisible"></buy-ship>



</div>
