<div id="fullMapView">

    <div class="row">

        <!--Left panel-->
        <div class="col-lg-2">
            <button class="left-panel-button" ng-click="testAction()">Get initialdata</button>
            <button class="left-panel-button" ng-click="showPlayerDetails()">See player details</button>

        </div>

        <!--Center panel-->
        <div class="col-lg-8">

            <div id=mainView ng-controller="mainViewController">
                <svg id=mainSvgArea></svg>
            </div>

        </div>


        <!--Right panel-->
        <div class="col-lg-2">

        </div>

    </div>

    <player-details class="custom-modal" ng-hide="!showPlayerDetailsModal"></player-details>
    <ship-details class="custom-modal" ng-hide="!showShipDetailsModal" point="shipClicked"></ship-details>
    <city-details class="custom-modal" ng-hide="!showCityDetailsModal" point="cityClicked"></city-details>

</div>
