body {
    font-family: 'Titillium Web', sans-serif;
}

.mainDiv {
}

.button-active {
    background-color: #8383b4;
}

.firstMenu {

    min-height: 500px;
    background: #eff1eb;
    border-radius: 10px;
    padding: 30px;
    margin: 50px;
}

.selectedRow {
    color: #39adf0;
}

.some-list {
    cursor: pointer;
    color: black;
}

.menu-actions-group {
    padding: 15px;
}

.meniu-btn {
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.meniu-btn:active {
    color: #244bac;
}

.meniu-btn:hover {

}

.collapsed {
    visibility: collapse;
    z-index: 0;
}

.to-front {
    z-index: 1000;
}

/*====================*/
#fullMapView {
    padding: 20px;
    background-image: url("../images/circuits3.png");
}

#mainView {
    height: 600px;
    border: 1px solid;
    margin-bottom: 50px;
}

#mainSvgArea {
    width: 100%;
    height: 100%;
    background-color: rgb(164, 164, 164)
}

.custom-modal {
    background-color: rgba(227, 223, 223, 0.8);
    position: absolute;
    top: 10%;
    left: 30%;
    width: 500px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 15px;
}

.custom-modal li {
    cursor: pointer;
}

.close-modal-button {
    float: right;
}

.side-modal {
    background-color: rgb(194, 194, 194);
    position: absolute;
    top: 18%;
    left: 57%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 15px;
}

.side-modal #setButton {
    float: right;
}

.selected-item{
    color: #008515;
}

.message-screen {
    height: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #000;
    padding: 11px;
    color: #fff;
}

.left-panel-button {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

time-control {
    color: wheat;
}

time-control #days {
    font-size: 24px;
}

time-control #control-buttons {
    font-size: 32px;
    text-align: center;
}

.time-control-button:hover {
    color: #F5DE5C;
}

.time-control-button:active {
    color: #4e4738;
}

buy-ship .list-group-item {
    background: transparent;
    border: 1px solid white;
}

buy-ship .selected {
    background: white;
}

/*=======================*/

/*============================*/
.cornerHover {
    display: block;
    background: #fff;
    width: 200px;
    color: #39adf0;
    text-decoration: none;
    -webkit-transition: 0.2s;
    margin: auto auto 15px;
    text-align: center;
    position: relative;
}

.cornerHover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #39adf0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

}

.cornerHover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #39adf0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cornerHover:hover:after {
    width: 100%;
}

.cornerHover:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #39adf0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}